<p>
  <strong>Name:</strong>
  <%= @nutrition.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @nutrition.brand %>
</p>

<p>
  <strong>Character:</strong>
  <%= @nutrition.character %>
</p>

<p>
  <strong>Function:</strong>
  <%= @nutrition.function %>
</p>

<p>
  <strong>Precaution:</strong>
  <%= @nutrition.precaution %>
</p>

<%= link_to 'Edit', edit_nutrition_path(@nutrition) %> |
<%= link_to 'Back', nutritions_path %>
