<div class="container infobody">
  <div style="text-align:center;">
    <img src="http://img1.smdutyfree.com/upload/adm/sp/119925/2560001083801/2560001083801_SS_2_1465450498657.png" alt="Card image cap">
  </div>
  <p>
    <strong>제품명:</strong>
    <%= @nutrition.name %>
  </p>
  <p>
    <strong>회사명:</strong>
    <%= @nutrition.company %>
  </p>
  <p>
    <strong>섭취법:</strong>
    <%= @nutrition.howtext %>
  </p>  
  <p>
    <strong>기능:</strong>
    <%= @nutrition.function %>
  </p>
  <p>
    <strong>주의사항:</strong>
    <%= @nutrition.except %>
  </p>
</div>
  <div style="text-align:center;">
    <% if !@nutrition.followed_by?(current_user)%>
        <%=link_to '내몸에 담기',nutri_follow_nutritions_path(@nutrition), method: :post %>
    <% else %>
        <%=link_to '내몸에서 빼기',nutri_follow_nutritions_path(@nutrition), method: :post %>
    <% end %>
  </div>

<section class="magazine_mainsection" style="background-color: #ff7f0f;height:30vh;
        width:100%;
        background-position: center;
        background-size: cover; text-align:center;margin-top:3rem;">
    <p class="nutrishow_sectionword"style="color:white;">부정확한 정보는 알려주세요! </p>
    <%= link_to '수정요청', '#', {style: "border: 2px solid white;color:white;",class: ""} %>
</section>


<style>
.infobody{
  margin-top:2rem;
  border: 2px solid orange;
}
</style>