<div class= "calendarnav">
<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward">prev</i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward">next</i>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class = "calendarwrapper">

<div class="row">
  <div class="col-md-12">
    <div class="daywrapper">
    <%= calendar @date do |date| %>
      <%= date.day %> 
      
     
    <ul> 
    <% @events.each do |t| %> 
            <% if t.eventime == date && current_user.id == t.user_id %>
            <li>
            <div class="login-img" style="background-image: url(/assets/main_logo.jpg);"></div>
            </li> 
        
            <% end %>

    <% end %>

    </ul> 
    <% end %>
    </div>
  </div>
</div>
</div>
<div style="text-align:center; margin-bottom:4rem;">
  <%= link_to "/mypages", class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-backward">뒤로가기</i>
  <% end %>
</div>
<style>
.calendarwrapper{
  margin-left: 5vh;
  margin-top: 5vh;
  margin-right: 5vh;
  margin-bottom: 10vh;
}
.dayheightwidth{
  height: 15vh;
  width: 20vh;

}
.calendarnav{
  margin-top: 3vh;
}
</style>