<div class="container">
  <div class="magazine">
    <div class="row">
      <div class="col-12 col-md-6 no-pr">
        <div class="mag_div lg_div hvr-shrink" style="<%= show_m1_bg %>">
          <p class="m1_deco text-center"><%= @m1.present? ? @m1.title : "-" %></p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-6 no-pr no-pl no-pr-strong">
            <div class="mag_div sm_div hvr-shrink" style="<%= show_m2_bg %>">

              <p class="m2_deco"><%= @m2.present? ? @m2.title : "-" %></p>
            </div>
          </div>
          <div class="col-6 col-md-6 no-pl no-pl-strong">

            <div class="mag_div sm_div hvr-shrink" style="<%= show_m3_bg %>">

              <p class="m3_deco"><%= @m3.present? ? @m3.title : "-" %></p>
            </div>
          </div>
          <div class="col-12 col-md-12 no-pl">

            <div class="mag_div sm_div hvr-shrink" style="<%= show_m4_bg %>">

              <p class="m4_deco"><%= @m4.present? ? @m4.title : "-" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
