<section class="magazine_mainsection" style="background-color: #ff7f0f;">
    <p class="magazine_sectionword">에디터 추천 메거진</p>
</section>

<div class="container magazine_categorysection">
  <form action="/magazines" class="">
    <ul style="padding-left:25%; margin-bottom:0;">
      <li>
        <input type="radio" id="nutritionInfo" value="영양백과" class="checkboxinput" name="category">
        <label class="checkboxlabel" for="nutritionInfo" >영양백과</label>
      </li>
      <li>
        <input type="radio" id="health" value="운동/헬스" class="checkboxinput" name="category">
        <label class="checkboxlabel" for="health" >운동/헬스</label>
      </li>
      <li>
        <input type="radio" id="orientalInfo" value="한방" class="checkboxinput" name="category">
        <label class="checkboxlabel" for="orientalInfo" >한방</label>
      </li>
      <li>
        <input type="radio" id="beauty" value="미용" class="checkboxinput" name="category">
        <label class="checkboxlabel" for="beauty" >미용</label>
      </li>
      <li>
        <input type="radio" id="product" value="제품" class="checkboxinput" name="category">
        <label class="checkboxlabel" for="product" >제품</label>
      </li>
      <li>
        <input type="radio" id="all" value="" class="checkboxinput" name="category">
        <label class="checkboxlabel" for="all" >전체</label>
      </li>
    </ul>
      <button type ="submit" value="submit" class="" style="margin-left:50%">조회하기</button>
  </form>
</div>  
      

<div class="container"  style="margin-top:3rem;">
  <div class="ban2 ban" id="ban2">
  
    
    <% if user_signed_in?%>
      <%= link_to '게시글 작성하기', new_magazine_path, class: "newbtn" %>
    <% else %>
      <%= link_to '게시글 작성하기', new_user_session_path, class: "newbtn" %>
    <% end %>
  </div>
  
  <div class='h-container' style="margin-top:3rem;">
        <div class="row">
          <% @magazines.each do |magazine| %>
            <div class="col-sm-12 col-md-6 col-xl-3">
              <a href = "/magazines/<%= magazine.id %>">  
                <div class="card h-card">
                  <div class="h-img-wrapper">
                    <% if !magazine.image.blank? %>
                      <img class="card-img-top h-img" src="<%= magazine.image %>" alt="Card image cap">
                    <% else %>
                      <%= image_tag("placeholder_fest.jpeg", class: "card-img-top h-img") %>
                    <% end %>
                  </div>
                  <div class="card-body">
                    <h5 class="h-card-title" style="color:#09083a;"><%= magazine.title %></h5>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
  </div>
</div>
<script>
$("#login-btn").click(
  function(){
      if($("#login-btn").hasClass("enable-login")){

      }
  }
)
</script>      