<section class="magazine_mainsection" style="background-image: url(ban-2.jpg); height:70vh;">
      <div class="magazine-logo" style="background-image: url(/assets/main_logo.jpg);"></div>
      <div class="magazine_sectionword">MAGAZINE</div>
</section>


  <!--<section id = "weekly_section">
  <div class="y-mag-subtitle-1"></div>
    <div class="y-weekly">WEEKLY HOT</div>
  </div>-->

  
 <div class="top-slide" style="margin: 0 auto; width: 100%">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block" src="/car-1.jpg" alt="First slide" style="width:100%;">
          <div class="carousel-caption d-block">
          <div class="y-carousel-title">건강하게 영양할 수 있는</div>
          <div class="y-carousel-title">제품 알아보기</div></br></br>
            <a href="https://www.google.co.uk/" target="_blank"><button type="button" class="btn btn-default">매거진 바로가기</button></a>
          
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/car-3.jpg" alt="Second slide" style="width: 100%; height  " >

          <div class="carousel-caption d-block">
             <div class="y-carousel-title">더운 여름 극복하는</div>
             <div class="y-carousel-title">요즘 뜨는 한방 관리</div></br></br>
            <a href="https://www.google.co.uk/" target="_blank"><button type="button" class="btn btn-default">매거진 바로가기</button></a>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/car-2.jpg" alt="Third slide" style="width:100%;">
          <div class="carousel-caption d-block">
             <div class="y-carousel-title">적은 비용 적은 노력</div>
             <div class="y-carousel-title">최대 효율 내는 운동 습관!</div></br></br>
            <a href="https://www.google.co.uk/" target="_blank"><button type="button" class="btn btn-default">매거진 바로가기</button></a>
          </div>
        </div>
         <div class="carousel-item">
          <img class="d-block w-100" src="/car-4.jpg" alt="Third slide" style="width:100%;">
          <div class="carousel-caption d-block">
             <div class="y-carousel-title">기본 영양소에 대해 제대로 알고</div>
             <div class="y-carousel-title">건강하게 영양해!</div></br></br>
            <a href="https://www.google.co.uk/" target="_blank"><button type="button" class="btn btn-default">매거진 읽으러 가기</button></a>
          </div>
        </div>



      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

<div class="container magazine_categorysection">
  <form action="/magazines" class="">
    <ul style="padding-left:25%; margin-bottom:0;">
      <li>
        <input type="radio" id="nutritionInfo" value="0" class="magazine_checkboxinput" name="category">
        <label class="checkboxlabel" for="nutritionInfo" >제품</label>
      </li>
      <li>
        <input type="radio" id="health" value="1" class="magazine_checkboxinput" name="category">
        <label class="checkboxlabel" for="health" >한방</label>
      </li>
      <li>
        <input type="radio" id="orientalInfo" value="2" class="magazine_checkboxinput" name="category">
        <label class="checkboxlabel" for="orientalInfo" >운동</label>
      </li>
      <li>
        <input type="radio" id="beauty" value="3" class="magazine_checkboxinput" name="category">
        <label class="checkboxlabel" for="beauty" >영양</label>
      </li>
    </ul>
      <button type ="submit" value="submit" class="" style="margin-left:50%">조회하기</button>
  </form>
</div>


<div class="container"  style="margin-top:3rem;">
  <div class="ban2 ban" id="ban2">


    <% if user_signed_in?%>
      <%= link_to '게시글 작성하기', new_magazine_path, class: "newbtn" %>
    <% else %>
      <%= link_to '게시글 작성하기', new_user_session_path, class: "newbtn" %>
    <% end %>
  </div>

  <div class='h-container' style="margin-top:3rem;">
        <div class="row">
          <% @magazines.each do |magazine| %>
            <div class="col-sm-12 col-md-6 col-xl-3">
              <a href = "/magazines/<%= magazine.id %>">
                <div class="card h-card">
                  <div class="h-img-wrapper">
                    <% if !magazine.image.blank? %>
                      <img class="card-img-top h-img" src="<%= magazine.image %>" alt="Card image cap">
                    <% else %>
                      <%= image_tag("placeholder_fest.jpeg", class: "card-img-top h-img") %>
                    <% end %>
                  </div>
                  <div class="card-body">
                    <h5 class="h-card-title" style="color:#09083a;"><%= magazine.title %></h5>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
  </div>
</div>
<script>
$("#login-btn").click(
  function(){
      if($("#login-btn").hasClass("enable-login")){

      }
  }
)
</script>
<style>
  .magazine_mainsection{
    background-repeat:no-repeat;
    background-position:  center;
    background-size: cover;
    text-align: center;
    letter-spacing: 20px;
    color: #FFFFFF;
    display: inline-block;
  }

.magazine_sectionword{
     letter-spacing: 20px;
     font-size: 3rem;
  
}

.carousel-item{
  width:100%;
  height: 40vh;
}

</style>