<div class="container">

  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Title:</strong>
    <%= @magazine.title %>
  </p>
  
  <p>
    <strong>Content:</strong>
    <%= @magazine.content %>
  </p>
  
  <p>
    <strong>Category:</strong>
    <%= @magazine.category %>
  </p>
  
  <p>
    <strong>Image:</strong>
    <img class='image1' src="<%= @magazine.image %>">
  </p>
  
  
  <% if @magazine.l_users.include?(current_user) %>
      <%= link_to "좋아요 취소", magazine_magazinelikes_path(@magazine), method: "post" %>
  <% else %>
      <%= link_to "좋아요", magazine_magazinelikes_path(@magazine), method: "post" %>
  <% end %>
  <p>
    <%= @magazine.magazinelikes.count %> 명이 좋아합니다.
  </p>
  
  <%= link_to 'Edit', edit_magazine_path(@magazine) %> |
  <%= link_to 'Back', magazines_path %>
    
</div>