<div class="magazine_container">

  <p id="notice"><%= notice %></p>
  
  <p>
    <div class="magazine_header">
    <div class="magazine_category">
    <%= @magazine.category %>
    </div>
    
    <div class="magazine_title">
    <%= @magazine.title %>
    </div>
    </div>
    <% if @magazine.l_users.include?(current_user) %>
      <%= link_to "좋아요 취소", magazine_magazinelikes_path(@magazine), method: "post" %>
  <% else %>
      <%= link_to "좋아요", magazine_magazinelikes_path(@magazine), method: "post" %>
  <% end %>
  <p>
    <%= @magazine.magazinelikes.count %> 명이 좋아합니다.
  </p>
  </p>
  
  <p>
    <img class='magazine_image' src="<%= @magazine.image %>">
  </p>
  
  
  
  <p>
    <div class="magazine_content">

    <strong>Content:</strong>
    <%= @magazine.content %>
    </div>
  </p>
  
  <p>
    <strong>Category:</strong>
    <%= @magazine.category %>
  </p>
  
  
  
  
  <% if @magazine.l_users.include?(current_user) %>
      <%= link_to "좋아요 취소", magazine_magazinelikes_path(@magazine), method: "post" %>
  <% else %>
      <%= link_to "좋아요", magazine_magazinelikes_path(@magazine), method: "post" %>
  <% end %>
  <p>
    <%= @magazine.magazinelikes.count %> 명이 좋아합니다.
  </p>
  
  <%= link_to 'Edit', edit_magazine_path(@magazine) %> |
  <%= link_to 'Back', magazines_path %>
    
</div>

</hr>
<% if user_signed_in? %>
  <%= form_tag magazine_magazine_comments_path(@magazine) do %>
    <div class="form-group" style="padding-bottom:10px;">
      <div class="input-field smaller">
        <%= text_area_tag :content, nil, class: "form-control sm_size", placeholder: "질문에 대한 댓글을 작성해 주세요", required: true %>
      </div><br>
      <div class="input-field float-right">
        <%= button_tag "댓글 쓰기", class: "small_compact_btn hvr-right" %>
      </div>
    </div>
  <% end %>
<% end %>
</hr>
<% if @magazine.magazine_comments.present? %>
      <ul class="collection">
      <% @magazine.magazine_comments.each do |comment| %>
        <li class="collection-item">
          <span class="title"><%= comment.user.id %></span>
          <p class="pre-line"><%= comment.content %></p>
          <% if comment.user.id == current_user.id %>
            <div><%= link_to "삭제", magazine_magazine_comment_path(@magazine, comment), method: "delete" %></div>
          <% end %>
        </li>
      <% end %>
      </ul>
<% end %>


<style>
.magazine_header{
  margin-left: 2vw;
  margin-right: 2vw;
}
.magazine_container{
    
}
.magazine_category{
  
}
.magazine_title{
  font-size:3rem;
}
.magazine_image{
  
}
.magazine_content{
  
}
  
</style>