<div class="container">
  <div class="row">
    <div class="col-xs-0 col-md-1 col-lg-2"></div>
    <div class="col-xs-12 col-md-10 col-lg-8">
      <br>
      <a href="/questions/<%= @question.id %>" class="btn_micro hvr-right float-right">답변으로</a>
      <h2 class="title_size slim-font mg-top-med">
        <span class="bold-font orange">영양in</span> 답변 수정하기
      </h2>
      <p class="semi_slim-font mg-bottom-sm luxury_space info-size">
        세상의 모든 영양 지식은 당신으로부터
      </p>
      <br>
      <%= render partial: "questions/question" %>
      <hr>
    </div>
    <div class="col-xs-0 col-md-1 col-lg-2"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-0 col-md-1 col-lg-2"></div>
    <div class="col-xs-12 col-md-10 col-lg-8">
      <%= form_for [@question, @answer] do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <br>
        <div class="form-group ">
          <%= f.label :content, "답변 내용" ,class: "bold-font control-label luxury_space"%>
          <p class="semi_slim-font mg-bottom-med luxury_space info-size">
            답변을 자세히 적어주시면, 많은 사람들이 고마워 할 거에요!
          </p>
          <%= tinymce :language => "ko" %>
          <%= f.text_area :content, class: "form-control tinymce" ,rows: "18" %>
        </div>
        <br>
        <div class="form-group" style="text-align:center;">
          <%= f.button "수정하기", class: "small_compact_btn hvr-right" %>
        </div>
        <br><br>
      <% end %>
    </div>
    <div class="col-xs-0 col-md-1 col-lg-2"></div>
  </div>
</div>
