<section class="index" style="margin-bottom:4rem; background-image: url(/assets/YYH_main.jpg);">
<div class="main-index">
  <div class="main-logo-text">마이페이지</div>
</div>
<div style="padding-bottom:3rem;" class="index-text">
  <span>꾸준히 영양하세요! </br> 기록하세요!</span>
</div>
<% if current_user.events.where(eventime: Date.today).blank? %>
  <%= form_for Event.new do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :eventime, value: Date.today %>
  <%=f.submit "출첵하기", class: "diarycheck" %>
<% end %>
<% else %>       
  <%= "이미 출첵했어요"%>
<% end %>
</section>


<div class="container">

<br>
<a href = "/calendar/show">달력보기</a>
<hr>
<h2>좋아요한 메거진</h2>
<div class="row">
  <% @user.l_magazines.each do |magazine| %>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <a href = "/magazines/<%= magazine.id %>">
        <div class="card h-card">
          <div class="h-img-wrapper">
            <% if !magazine.image.blank? %>
              <img class="card-img-top h-img" src="<%= magazine.image %>" alt="Card image cap">
            <% else %>
              <%= image_tag("placeholder_fest.jpeg", class: "card-img-top h-img") %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="h-card-title" style="color:#09083a;"><%= magazine.title %></h5>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>


<hr>
<h2>내 몸안의 영양제</h2>

<% @user.following_nutritions.each do |nutrition| %>
<div style="height:10rem;width:100%;border: 2px solid #f5f5f5;margin-bottom:2rem;border: 2px solid rgba(252,135,0,.26);">
  
  <div class="" style="height:100%;display:inline-block;margin-right:2rem;float: left;">
    <img style="height:100%;width:auto;display:block;" src="http://img1.smdutyfree.com/upload/adm/sp/119925/2560001083801/2560001083801_SS_2_1465450498657.png" alt="Card image cap">
  </div>
  
  <div style="height:100%;width:50%;display:inline-block;">
      <h3><%= nutrition.name %></h1>
      <p><%= nutrition.company %></p>
      <p id="explainfunc">기능: <%= nutrition.function %></p>
      <p>섭취법: <%= nutrition.howtext %> </p>
  </div>

  <div style="display:inline-block;height:100%;width:20%;float:right;position:relative;">
      <img style="position:absolute;height:3rem;width:auto;display:block;right:0;" src="https://kmug.co.kr/data/file/design/data_design_1426742142_%EA%B1%B4%EA%B0%95%EA%B8%B0%EB%8A%A5%EC%8B%9D%ED%92%88.jpg" alt="Card image cap">
      <div style="position:absolute;top:2rem;width:70%;">
          <%= link_to '상세정보', nutrition, {style:"margin-bottom: 10px;", class: "rendershowlink"} %>
          <% if !nutrition.followed_by?(current_user)%>
            <%=link_to '내몸에 담기',nutri_follow_nutritions_path(nutrition), method: :post, class: "rendershowlink" %>
          <% else %>
            <%=link_to '내몸에서 빼기',nutri_follow_nutritions_path(nutrition), method: :post, class: "rendershowlink" %>
          <% end %>
      </div>
  </div>
  </div>
  <% end %>    
</div>


<style>
.rendershowlink{
    display:block;
    width: 100%;
    color: #fd8700;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 44px;    
    border: 2px solid orange;
    border-radius: 2px; 
}    
#explainfunc{
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>