<div class="index-pg" style="background-image: url(/assets/YYH-ban-07-min.jpg);">
 <div class="wrapperrn" id="wrapperrn">
   <div class="row">
     <div class="col-12 col-md-3 col-lg-4"></div>
       <div class="col-12 col-md-6 col-lg-4">
         <br>
           <div class="container">
             <div class="card opacity" style="margin-top:100px;">
                <div class="card-body y-card">
                  <div class="center-btn y-login">
                    <div class="y-login-logo">Log in</div>
                  </div>
                  <div class="center-btn">
                    <div class="y-login-ment">자신에게 딱 맞는 </br> 영양제 조합을 찾아보세요!</p>
                  </div>
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                  <div class="form-group">
                    <%= f.label :email, class:"y-password" %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"y-email-form" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password, class:"y-password" %><br />
                    <%= f.password_field :password, autocomplete: "off" , class:"y-email-form"%>
                  </div>

  <% if devise_mapping.rememberable? %>

                  <div class="form-group">
                    <%= f.check_box :remember_me, class:"y-remember" %>
                    <%= f.label :remember_me, class:"y-remember-form" %>
                    <% end %>
                  </div>

  <div class="actions">
    <div class="login center-btn">
    <%= f.submit "Log in", class:"y-log-in-btn" %>
    <%= render "devise/shared/links" %>
    </div>

  </div>
<% end %>
  <div class="text-center">
    <%= link_to user_facebook_omniauth_authorize_path do %>
      <%= image_tag("fbloginbt.png", :class => "bt1 img-fluid fbbt") %>
    <%end%>
    <br><br>
    <%= link_to user_kakao_omniauth_authorize_path do %>
      <%= image_tag("ktloginbt.png", :class => "bt1 img-fluid fbbt") %>
    <% end %>
  </div>
</div>
                   </div>
                </div>
             </div>
           </div>
       </div>
     </div>
  </div>
</div>

<style>

.y-log-in-btn{
  width: 100%;
  height: 5vh;
  border-radius: 2px;
  background-color: #f78429;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}




.y-login-logo{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-bottom: 14px;
}

.y-email-form{
  width: 100%;
  height: 5vh;

}
.y-email{
  margin-bottom: 14px;
}

.y-remember{
  margin-bottom: 3vh;
}

.y-password{
  width: 100%;
  height: 3vh;
  margin-top: 1vh 0 14px 0;
}

.card-body.y-card{
  height: 600px;
  margin-bottom: 1rem;
  text-align: center;
  padding: 2.5rem;
}


.center-btn{
  margin: 0 auto;
  text-align: center;
  height: 13vh;
}
.login .center-btn {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}


.text-center{
  margin-top: 18px;
}

.form-group{
  margin-bottom: 0.5rem;
  text-align: left;

}

.opacity {
  opacity: 0.85;
}
.ll{
    font-size:18px;
    font-weight:bold;
    color:white;
    margin-top:0px;
}
.imgsizer3{
  padding-top:20px;
    width:500px;
    padding-bottom:0px;
}

.btn-primary{
    width: 100%;
    background-color:#FFFFFF;
    border: 2px solid orange;
    color: orange;
    margin-top: 0.2px;
}
.btn-primary:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}
.centerer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sign_in_p{
  color:black;
  font-size:16px;
}
.sign_in_link{
  color:black;
  font-weight:bold;
}
.sign_in_link:hover{
  color:black;
  font-weight:bold;
}
.wrapperrn{

}

.login-logo{
  text-align: center;
}
.imgsizer3 {
    padding-top: 20px;
    width: 500px;
    padding-bottom: 0px;

}

.index-pg {
   width: 100%;
   height: 100vh;
   text-align: center;
   background-repeat:no-repeat;
   background-position:  center;
   background-size: cover;
}

.y-login-ment{
  font-size: 18px ;
  font-weight: 200;
  margin-bottom: 10vh;
}

</style>
