<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @free.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @free.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @free.user %>
</p>

<p>
  <strong>Like:</strong>
  <%= @free.freelikes.size %> 명이 좋아합니다. 
</p>
 
<p>
  <% if @free.freeliked_users.include?(current_user) %>
      <%= link_to "좋아요 취소", free_freelikes_path(@free), method: "post" %>
  <% else %>
      <%= link_to "좋아요", free_freelikes_path(@free), method: "post" %>
  <% end %>
</p>

<hr>

<% if user_signed_in? %>
  <%= form_tag free_free_comments_path(@free) do %>
    <div class="form-group" style="padding-bottom:10px;">
      <div class="input-field smaller">
        <%= text_area_tag :comment, nil, class: "form-control sm_size", placeholder: "댓글을 작성해 주세요", required: true %>
      </div><br>
      <div class="input-field float-right">
        <%= button_tag "댓글 쓰기", class: "small_compact_btn hvr-right" %>
      </div>
    </div>
  <% end %>
<% end %>
 
<hr>
 
<% if @free.free_comments.present? %>
      <ul class="collection">
      <% @free.free_comments.each do |comment| %>
        <li class="collection-item">
          <span class="title"><%= comment.user.id %></span>
          <p class="pre-line"><%= comment.comment %></p>
        </li>
      <% end %>
      </ul>
<% end %>



<%= link_to 'Edit', edit_free_path(@free) %> |
<%= link_to 'Back', frees_path %>
