<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @free.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @free.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @free.user %>
</p>

<p>
  <strong>Like:</strong>
  <%= @free.freelikes.size %> 명이 좋아합니다. 
</p>
 
<p>
  <% if @free.freeliked_users.include?(current_user) %>
      <%= link_to "좋아요 취소", free_freelikes_path(@free), method: "post" %>
  <% else %>
      <%= link_to "좋아요", free_freelikes_path(@free), method: "post" %>
  <% end %>
</p>

<hr>

<p><strong>댓글작성</strong></p>
  <div class="well">
  <form action="/posts/<%=@post.id%>" method="post">
   <div class="form-group">
    <input type="hidden" value="<%=current_user.id%>" name="user_id"></input>
    <input type="hidden" value="<%=@post.id%>" name="post_id"></input>
    <textarea class="form-control" rows="5" name="comment"></textarea>
   </div>
   <button type="submit" class="btn btn-default">댓글작성!</button>
  </form>
 </div>

<%= link_to 'Edit', edit_free_path(@free) %> |
<%= link_to 'Back', frees_path %>
