<div class="container">
  <div class="row">
    <div class="col-xs-0 col-md-1"></div>
    <div class="col-xs-12 col-md-10 mg-bottom-med">
      <br>
      <h1><%= @free.title %></h1>
      <p>
        <strong>작성자:</strong>
        <%= @free.user.email %>
      </p>
      <a href="/frees" class="btn_micro hvr-right float-right">목록으로</a>
      <br><hr>
       <p>
         <%= @free.content.html_safe %>
       </p><br><br>
      <div class="freelike">
        <% if @free.freeliked_users.include?(current_user) %>
          <%= link_to free_freelikes_path(@free), method: "post" do %>
            <i style="color:#ffa500;" class="fa fa-heart"></i>
          <% end %>        
        <% else %>
          <%= link_to free_freelikes_path(@free), method: "post" do %>
            <i class="fa fa-heart-o"> </i>
          <% end %>
        <% end %>
      </div>
      <p>
        <%= @free.freelikes.size %> 명이 좋아합니다. 
      </p>
      <% if current_user.present? && (current_user == @free.user) %>
        <div class="user_btn">
          <%= link_to "수정", edit_free_path(@free), class: "btn_micro" %>
          <%= link_to "삭제", free_path(@free), method: "delete", class: "btn_micro",:data => {:confirm => '진짜 지울까요?'} %>        </div>
      <% end %>
      <br><hr>
      <div class="fcomment_show">
        <% if @free.free_comments.present? %>
          <% @free.free_comments.each do |comment| %>
            <%= render partial: "shared/forms/free_comment/item", locals: {free: @free, comment: comment } %>
          <%end%>
        <% else %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= form_tag free_free_comments_path(@free) do %>
          <div class="form-group" style="padding-bottom:10px;">
            <div class="input-field smaller">
              <%= text_area_tag :comment, nil, class: "form-control sm_size", placeholder: "댓글을 작성해 주세요", required: true %>
            </div><br>
            <div class="input-field float-right">
              <%= button_tag "댓글 쓰기", class: "small_compact_btn hvr-right" %>
            </div>
          </div>
        <% end %>
      <% end %>
      <br><br>
      <hr>
    </div>
    <div class="col-xs-0 col-md-1"></div>
  </div>
</div>

